<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title color="primary">
            Categorias
        </ion-title>
    </ion-toolbar>
    <ion-segment scrollable mode="md" [value]="categorias[0].category" (ionChange)="segmentChanged($event)">
        <ion-segment-button *ngFor="let c of categorias" mode="md" [value]="c.category">
            <ion-label>{{c.categoria}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <app-news [noticias]="news"></app-news>
    <ion-infinite-scroll threshold="120px" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>